<nav>
    <div class="site-title">
      <a href="/"><h1>Scorer</h1></a>
      <p>A score scoring website</p>
    </div>
    <ul>
      <li><a href="/">Main Menu</a></li>
      <li><a href="/create">Add Score</a></li>
      <li><a href="/score">Get Score</a></li>
    </ul>
  </nav>