<html>
    <head>
        <%- include("./partials/header.ejs")%>
    </head>
    <body>
        <%- include("./partials/nav.ejs")%>

        <div class="updateScore">
            <form action="/update" method="POST">
                <label for="projectName">Project Name:</label>
                <input type="text" id="projectName" name="projectName" value="<%= projectName %>" readonly><br><br>
                <label for="score">New score:</label>
                <input type="number" id="score" required name="score"><br><br>
                <label for="description">New description:</label>
                <input type="text" id="desc" required name="description"><br><br>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>